{% extends "bootstrap/base.html" %}

{% block title %}
Lucid
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" align="center" style="background-color: #aeb1b5;">
  <h1>Lucid</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quis commodi, sunt impedit. Corrupti eum, hic
    incidunt aspernatur iste reiciendis sit voluptatem aliquid, harum officia at non nisi ipsa delectus.</p>
  <br><br>
  <a class="btn btn-primary" href="{{ url_for('login') }}" role="button">Log In</a>
  <a class="btn btn-primary" href="{{ url_for('signup') }}" role="button">Sign Up</a>
</div>
{% endblock %}