{% extends "bootstrap/base.html" %}

{% block title %}
Lucid
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lucid</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">{{ name }}, fill the details</h1>
          <br><br><br>
          <h2>Single Record Screening</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo eum error non nostrum laborum accusamus illum cumque repellendus nesciunt, in vitae, esse, voluptates corporis possimus reprehenderit nobis aspernatur doloremque veritatis.</p>
          <br>
          <form class="form-group" method="POST" action="/srsresult">
            <label for="type">Type</label>
            <select class="form-control" id="type">
              <option value="All">All</option>
              <option value="Individual">Individual</option>
              <option value="Entity">Entity</option>
              <option value="Aircraft">Aircraft</option>
              <option value="Vessel">Vessel</option>
            </select>
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name">
            <label for="id">#ID</label>
            <input class="form-control" type="number" name="name" placeholder="#ID">
            <label for="program">Program</label>
            <select class="form-control" id="program">
              <option selected="selected" value="">All</option>
              <option value="561-Related">561-Related</option>
              <option value="BALKANS">BALKANS</option>
              <option value="BELARUS">BELARUS</option>
              <option value="BURUNDI">BURUNDI</option>
              <option value="CAATSA - RUSSIA">CAATSA - RUSSIA</option>
              <option value="CAR">CAR</option>
              <option value="CUBA">CUBA</option>
              <option value="CYBER2">CYBER2</option>
              <option value="DARFUR">DARFUR</option>
              <option value="DPRK">DPRK</option>
              <option value="DPRK2">DPRK2</option>
              <option value="DPRK3">DPRK3</option>
              <option value="DPRK4">DPRK4</option>
              <option value="DPRK-NKSPEA">DPRK-NKSPEA</option>
              <option value="DRCONGO">DRCONGO</option>
              <option value="ELECTION-EO13848">ELECTION-EO13848</option>
              <option value="FSE-IR">FSE-IR</option>
              <option value="FSE-SY">FSE-SY</option>
              <option value="FTO">FTO</option>
              <option value="GLOMAG">GLOMAG</option>
              <option value="HIFPAA">HIFPAA</option>
              <option value="HRIT-IR">HRIT-IR</option>
              <option value="HRIT-SY">HRIT-SY</option>
              <option value="IFCA">IFCA</option>
              <option value="IFSR">IFSR</option>
              <option value="IRAN">IRAN</option>
              <option value="IRAN-EO13846">IRAN-EO13846</option>
              <option value="IRAN-EO13871">IRAN-EO13871</option>
              <option value="IRAN-EO13876">IRAN-EO13876</option>
              <option value="IRAN-HR">IRAN-HR</option>
              <option value="IRAN-TRA">IRAN-TRA</option>
              <option value="IRAQ2">IRAQ2</option>
              <option value="IRAQ3">IRAQ3</option>
              <option value="IRGC">IRGC</option>
              <option value="ISA">ISA</option>
              <option value="LEBANON">LEBANON</option>
              <option value="LIBYA2">LIBYA2</option>
              <option value="LIBYA3">LIBYA3</option>
              <option value="MAGNIT">MAGNIT</option>
              <option value="MALI-EO13882">MALI-EO13882</option>
              <option value="NICARAGUA">NICARAGUA</option>
              <option value="NICARAGUA-NHRAA">NICARAGUA-NHRAA</option>
              <option value="NPWMD">NPWMD</option>
              <option value="NS-PLC">NS-PLC</option>
              <option value="SDGT">SDGT</option>
              <option value="SDNT">SDNT</option>
              <option value="SDNTK">SDNTK</option>
              <option value="SOMALIA">SOMALIA</option>
              <option value="SOUTH SUDAN">SOUTH SUDAN</option>
              <option value="SYRIA">SYRIA</option>
              <option value="SYRIA-EO13894">SYRIA-EO13894</option>
              <option value="TCO">TCO</option>
              <option value="UKRAINE-EO13660">UKRAINE-EO13660</option>
              <option value="UKRAINE-EO13661">UKRAINE-EO13661</option>
              <option value="UKRAINE-EO13662">UKRAINE-EO13662</option>
              <option value="UKRAINE-EO13685">UKRAINE-EO13685</option>
              <option value="VENEZUELA">VENEZUELA</option>
              <option value="VENEZUELA-EO13850">VENEZUELA-EO13850</option>
              <option value="VENEZUELA-EO13884">VENEZUELA-EO13884</option>
              <option value="YEMEN">YEMEN</option>
              <option value="ZIMBABWE">ZIMBABWE</option>
            </select>
            <label for="score">Minimum Name Score</label>
            <input type="range" name="score" class="custom-range" min="0" max="100">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control">
            <label for="state">State/Province*</label>
            <input type="text" name="state" class="form-control">
            <label for="country">Country</label>
            <select class="form-control" id="country">
              <option value="">All</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="Angola">Angola</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas, The">Bahamas, The</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Brazil">Brazil</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burma">Burma</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Canada">Canada</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
              <option value="Congo, Republic of the">Congo, Republic of the</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote d Ivoire">Cote d Ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guernsey">Guernsey</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jersey">Jersey</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Korea, North">Korea, North</option>
              <option value="Korea, South">Korea, South</option>
              <option value="Kosovo">Kosovo</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Man, Isle of">Man, Isle of</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mexico">Mexico</option>
              <option value="Moldova">Moldova</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Namibia">Namibia</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palestinian">Palestinian</option>
              <option value="Panama">Panama</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Poland">Poland</option>
              <option value="Qatar">Qatar</option>
              <option value="Region: Crimea">Region: Crimea</option>
              <option value="Region: Gaza">Region: Gaza</option>
              <option value="Region: Kafia Kingi">Region: Kafia Kingi</option>
              <option value="Region: Northern Mali">Region: Northern Mali</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syria</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="The Gambia">The Gambia</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="undetermined">undetermined</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="West Bank">West Bank</option>
              <option value="Yemen">Yemen</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
            <label for="list">List</label>
            <select class="form-control" id="list">
              <option value="">All</option>
              <option value="Non-SDN">Non-SDN</option>
              <option value="SDN">SDN</option>
            </select>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            <button class="btn btn-lg btn-primary btn-block" type="reset">Reset</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}